<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online_Shopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditCard</display-name>
    <servlet-name>CreditCard</servlet-name>
    <servlet-class>CreditCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCard</servlet-name>
    <url-pattern>/CreditCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmCart</display-name>
    <servlet-name>ConfirmCart</servlet-name>
    <servlet-class>ConfirmCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmCart</servlet-name>
    <url-pattern>/ConfirmCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSA</display-name>
    <servlet-name>AddSA</servlet-name>
    <servlet-class>AddSA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSA</servlet-name>
    <url-pattern>/AddSA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectExistingAddress</display-name>
    <servlet-name>SelectExistingAddress</servlet-name>
    <servlet-class>SelectExistingAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectExistingAddress</servlet-name>
    <url-pattern>/SelectExistingAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectedSA</display-name>
    <servlet-name>SelectedSA</servlet-name>
    <servlet-class>SelectedSA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedSA</servlet-name>
    <url-pattern>/SelectedSA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bill</display-name>
    <servlet-name>Bill</servlet-name>
    <servlet-class>Bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bill</servlet-name>
    <url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreCreditCard</display-name>
    <servlet-name>StoreCreditCard</servlet-name>
    <servlet-class>StoreCreditCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreCreditCard</servlet-name>
    <url-pattern>/StoreCreditCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalCart</display-name>
    <servlet-name>FinalCart</servlet-name>
    <servlet-class>FinalCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalCart</servlet-name>
    <url-pattern>/FinalCart</url-pattern>
  </servlet-mapping>
</web-app>